.sidebar {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15%;
    min-width: 250px;
    background-color: var(--sidebar-color);
    padding: 10px;
}

.sidebar__shrink {
    width: 4%;
    min-width: 50px;
    transition: var(--tran-03);
}

.storeinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.storeinfo__inside {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.storeinfo__inside > img {
    width: 40px;
    border-radius: 6px;
}

.storeinfo__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.storeinfo__info > span {
    font-size: var(--small-font-size);
    color: var(--primary-color);
}

.storeinfo__info > span:last-child {
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-color-light);
    font-size: var(--very-small-font-size);
    margin-top: 5px;
} 

.menubar {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.menubar__list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.menubar__shrink {
    .menubar__list li a span{
        display: none;
    }
}

.menubar__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    /* padding: 2px 10px; */
}

.menubar__item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    transition: var(--tran-03);

    .menubar__link {
        color: var(--primary-color);
    }
}

.menubar__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color-light);
    padding: 7px 10px;
    transition: var(--tran-03);
    width: 100%;
}

.menubar__link > span {
    margin-left: 10px;
    font-size: var(--small-font-size);
}

.menubar__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
}

.menubar__footer-inside{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 4px;
}

.menubar__footer-icon {
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px 4px;
    border-radius: 4px;
    padding-bottom: 0px;
}

.menubar__footer-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.menubar__footer-info > span {
    font-size: var(--small-font-size);
    color: var(--primary-color-light);
}

.menubar__footer-info > span:first-child {
    font-size: var(--very-small-font-size);
    color: var(--primary-color-light);
    margin-bottom: 5px;
}

.back-icon {
    display: none;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 10px;
    color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-03);
}

.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    transition: var(--tran-03);

    .menubar__link {
        color: var(--primary-color);
    }
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        display: none;
    }

    .sidebar__expand {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        min-width: 250px;
        background-color: var(--sidebar-color);
        padding: 10px;
        z-index: 100;  
    }
}